* {box-sizing:border-box;}

body {
      background-color:#E8EAF6;
      font-family:sans-serif,serif;
      font-weight:400;
      color:#000;
      margin:0;
}

.navigation {
      width:100%;
      background-color:#333;
      margin:auto;
}

.logo {
      display:block;
      list-style:none;
      color:#ef6c00;
}

h1 {
    font-family:sans-serif;
    font-weight:200;
    color:#FFF;
}

h2 {
    font-family:sans-serif;
    font-weight:200;
}

a {
    color:#ef6c00;
    text-decoration:none;
}

li {
    list-style:none;
    float:left;
}

body li a {
    display:block;
    list-style:none;
    color:#ef6c00;
    text-align:left;
    text-decoration:none;
    transition:.1s;
    margin:0;
    padding:14px;
}

li a:hover {
    background-color:#ef6c00;
    border-radius:6px;
    color:#FFF;
}
