* {box-sizing:border-box;}

header {border:1px solid #cccccc;
      padding: 20px 0px;
      box-shadow: 1px 1px 11px #cccccc;
      background: #fcfcfc;

      }
body {
      font-family: 'Work Sans', sans-serif;
      font-weight:400;
      line-height: 2rem;
      color:#000;
      margin:0;

}

.container {
      width:1200px;
      margin: 0 auto;
    }

.logo {
      float:left;
      width: 200px;
      display:block;
}

header::after {
  content: " ";
  display: table;
  clear:both;
}
.nav {float:right;}
h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight:200;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight:200;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight:200;
}

a {
    color:#ef6c00;
    text-decoration:none;
}

li {
    list-style:none;
    float:left;
}


body li a {
    display:block;
    list-style:none;
    color:#ef6c00;
    text-align:left;
    text-decoration:none;
    transition:.1s;
    margin:0;
    padding:14px;
}

li a:hover {
    background-color:#ef6c00;
    border-radius:6px;
    color:#FFF;
}

.gallery a {

}
.gallery {
  display:flex;
  justify-content: space-between;

}
.main {display:flex}

.design {
  padding: 24px 24px;

}

.dev {
  padding: 24px 24px;
  width:100%;
}

.interests{
  display:flex;
  flex:1;
}
